## Deliverable 3. Create a Travel Itinerary Map.

In [48]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [49]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,0,Port Lincoln,AU,1667869642,-34.7333,135.8667,79.18,41,100,15.59,overcast clouds
1,1,1,Mataura,NZ,1667869642,-46.1927,168.8643,65.48,38,71,3.87,broken clouds
2,2,2,San Lorenzo,PY,1667869391,-25.3333,-57.5333,74.34,43,0,6.91,clear sky
3,3,3,Norman Wells,CA,1667869643,65.2820,-126.8329,3.15,75,8,8.12,clear sky
4,4,4,Atagay,RU,1667869644,55.1033,99.3875,22.93,84,100,3.76,overcast clouds

In [50]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [51]:
# 4a. Add a marker layer for each city to the map.
# Assign the locations to an array of latitude and longitude pairs.
locations = vacation_df[["Lat", "Lng"]]

# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30, 31), zoom_level = 1.5)

# Adding markers 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Santiago De Compostela", :]
vacation_end = vacation_df.loc[vacation_df["City"] == "Santiago De Compostela", :]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Salamanca", :]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Barcelos", :]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Muros", :]

In [53]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop_1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop_2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop_3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [54]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Create Map with route
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop_1, stop_2, stop_3],
        travel_mode= "DRIVING")
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,672,672,Santiago De Compostela,ES,1667870389,42.8805,-8.5457,56.98,93,75,11.50,light intensity shower rain
1,570,570,Salamanca,ES,1667870078,40.8333,-6.0000,54.99,94,99,11.45,light rain
2,50,50,Barcelos,PT,1667869694,41.5388,-8.6151,62.74,93,88,11.48,overcast clouds
3,113,113,Muros,ES,1667869755,42.7762,-9.0603,58.68,83,100,17.85,overcast clouds

In [56]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_df = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [57]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30, 31), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))